@page "/administration/roles"
@using Front.ApiClient.Interfaces
@using Front.Components
@using Front.Helpers
@using Shared.DTOs.Roles
@inject IRolesApi RolesApi
@inject NavigationManager Nav
<Section Title="Roles" >
	<ChildContent>
		<MudTable @ref=table T="RolDto" Hover ServerData="OnServerDataRequested" >
			<HeaderContent>
				<MudTh>Rol</MudTh>
				<MudTh>Acciones</MudTh>
			</HeaderContent>
			<RowTemplate>
				<MudTd DataLabel="Role Name">@context.Name</MudTd>
				<MudTd DataLabel="Actions">
					<MudButton Variant="Variant.Text" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Edit" OnClick="@(() => EditRole(@context.Id))">Editar</MudButton>
					<MudButton StartIcon="@Icons.Material.Filled.Delete" Variant=Variant.Text Color="Color.Error" OnClick="@(() => DeleteRole(@context.Id))">Eliminar</MudButton>
				</MudTd>
			</RowTemplate>
			<ToolBarContent>
				<MudStack Row>
					<MudText Typo="Typo.h6">Roles</MudText>
					<MudButton Color=Color.Primary Variant="Variant.Filled" OnClick="() => Nav.NavigateTo<CreateRolPage>()">Crear Rol</MudButton>
				</MudStack>
			</ToolBarContent>
		</MudTable>
	</ChildContent>
</Section>

@code {
	MudTable<RolDto> table;
	void EditRole(Guid roleId)
	{
		var parameters = new Dictionary<string, object> { { nameof(UpdateRolPage.RoleId), roleId.ToString() } };
		Nav.NavigateTo<UpdateRolPage>(parameters);
	}

	async Task DeleteRole(Guid roleId)
	{
		await RolesApi.DeleteRol(roleId);
	 	await table.ReloadServerData();
	}

	async Task<TableData<RolDto>> OnServerDataRequested(TableState ts, CancellationToken ct)
	{
		TableData<RolDto> tableData = new TableData<RolDto>();
		var roles = await RolesApi.GetRoles();
		tableData.Items = roles.ToList();
		tableData.TotalItems = roles.Count();
		return tableData;	
	}

	string NavigateToUpdateRolePage(Guid roleId)
	{
		var parameters = new Dictionary<string, object> { { nameof(UpdateRolPage.RoleId), roleId.ToString() } };
		return Nav.GetUrl<UpdateRolPage>(parameters);
	}
}
